@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

body {
  font-family: oswald;
  background-color: rgb(233, 227, 214);
}

* {
  box-sizing: border-box;
}

.page {
  width: 70%;
  margin: 0.5rem;
  margin-left: 15%;
  background-color: white;
  padding: .8rem;
}

/* debut header */

header {
  background-color: white;
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.header_container_logo {
  width: 100%;
  background-color: rgb(233, 227, 214);
}

.image__main_page {
  width: 100%;
}

.header__title {
  background-color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #7c1b2b;
  border-bottom: 2px solid #7c1b2b;
  padding: 0.8rem;
  margin: 1% 0 1% 0;
}

.header__subtitle {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
}

/* fin header */

.center-block {
  display: flex;
  gap: 1%;
}

/* debut bandeau de navigation */

.actor-link {
  background-color: rgb(233, 227, 214);
  width: 280px;
  text-align: center;
  padding: 1rem;
}

.title-actor__link {
  box-shadow: 1px 3px 10px 1px black;
  background-color: #7c1b2b;
  border-radius: 0.3rem;
  color: rgb(233, 227, 214);
  text-shadow: 1px 1px 8px black;
  font-size: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.link__title {
  display: flex;
  flex-direction: column;
}

.link {
  width: 100%;
  font-size: 15px;
}

.link__button {
  padding: 0.3rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2px 0 #7c1b2b;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.link__button:hover {
  box-shadow: 0 1px 6px 1px black;
  text-shadow: 1px 1px 8px black;
  background-color: #7c1b2b;
  border-radius: 0.3rem;
  color: rgb(233, 227, 214);
}

/* fin bandeau de navigation */

/* debut bloc centrale */

.main {
  background-color: rgb(233, 227, 214);
  width: 100%;
  padding-bottom: 1rem;
}

.article {
  width: 80%;
  margin: auto;
}

.article__title {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}

/* logo centrale */

.logo {
  width: 150px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* fin logo centrale */

.paragraph,
aside {
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: lighter;
}

.hero {
  font-size: 1.5rem;
}

aside {
  font-style: italic;
  text-align: center;
}

.synopsis {
  text-align: center;
  font-size: 1.8rem;
  color: #7c1b2b;
  border-bottom: 2px #7c1b2b solid;
  padding-bottom: .5rem;
}

/* fin boc cenrale */

/* debut container images */

.parent-picture-container h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: .5rem;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 227, 214);
  width: 80%;

  gap: 2rem;
  justify-content: center;
  margin: auto;
}

.figure {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 2%;
  box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.36);
  padding: 1rem;
}

.figure__image {
  display: flex;
  border: 3px solid #7c1b2b;
  height: 12rem;
  object-fit: cover;
  overflow: hidden;
}

.figure__image-in {
  width: 100%;
  object-fit: cover;
}

.button-action {
  background-color: #7c1b2b;
  font-size: 1.8rem;
  text-shadow: 1px 0.5px 8px rgb(233, 227, 214);
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.button-action:hover {
  color: rgb(233, 227, 214);
  text-shadow: 1px 1px 8px black;
  border-radius: 10px 0px 10px 0px;
  animation: bounce 0.1s ease-in-out;
}

.figure__description {
  margin-top: 1rem;
}

.figure__description {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* fin container images */

/* debut footer */

footer {
  background-color: rgb(233, 227, 214);
  margin-top: .8rem;
  text-align: center;
  padding: 1.5rem;
}

/* fin du footer */

@media (max-width: 1280px) {

  .page {
    width: 80%;
    margin: auto;
  }

}

@media (max-width: 860px) {

  .page {
    width: 95%;
    margin: auto;
  }

}

@media (max-width: 680px) {

  .page {
    width: 95%;
    margin: auto;
  }

  .center-block {
    flex-direction: column;
  }

  .actor-link {
    width: 100%;
    flex-direction: wrap;
  }

  .title-actor__link {
    display: flex;
    justify-content: center;
    gap: .5rem;
  }
}

.link__title {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

@media (max-width: 540px) {
  .center-block {
    gap: .3rem;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .header__subtitle {
    width: 120px;
    margin-left: 14rem;
  }
}